[submodule "vendor/FGallery"]
	path = vendor/FGallery
	url = https://github.com/gdavis/FGallery-iPhone.git
[submodule "vendor/AFNetworking"]
	path = vendor/AFNetworking
	url = https://github.com/AFNetworking/AFNetworking.git
[submodule "vendor/grenobj"]
	path = vendor/grenobj
	url = https://github.com/neonichu/grenobj.git
[submodule "vendor/MBProgressHUD"]
	path = vendor/MBProgressHUD
	url = https://github.com/jdg/MBProgressHUD.git
[submodule "vendor/html-parser"]
	path = vendor/html-parser
	url = https://github.com/neonichu/html-parser.git
[submodule "vendor/dropbox"]
	path = vendor/dropbox
	url = https://github.com/dropbox-sdk-mirror/dropbox-sdk-ios.git
[submodule "vendor/ZYActivity"]
	path = vendor/ZYActivity
	url = https://github.com/marianoabdala/ZYActivity.git
