[submodule "vendor/FGallery"]
	path = vendor/FGallery
	url = https://github.com/gdavis/FGallery-iPhone.git
[submodule "vendor/AFNetworking"]
	path = vendor/AFNetworking
	url = https://github.com/AFNetworking/AFNetworking.git
[submodule "vendor/grenobj"]
	path = vendor/grenobj
	url = https://github.com/neonichu/grenobj.git
[submodule "vendor/MBProgressHUD"]
	path = vendor/MBProgressHUD
	url = https://github.com/jdg/MBProgressHUD.git
[submodule "vendor/html-parser"]
	path = vendor/html-parser
	url = https://github.com/neonichu/html-parser.git
